SECRET_KEY=your-secret-key-here
DEBUG=true
ALLOWED_HOSTS=*
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_PORT=587
EMAIL_USE_TLS=true
NOTIFICATION_API_BASE_URL=http://dev.gcx.com.gh/notification-api/public/
FRONTEND_PUBLIC_URL=http://localhost:8000
DATABASE_URL=sqlite:///db.sqlite3
MEDIA_ROOT=media
MEDIA_URL=/media/
STATIC_ROOT=staticfiles
STATIC_URL=/static/
